<h1 class="h4">Cartelera</h1>
<hr />

<div class="row" *ngIf="cartelera">
    <!-- COLUMNA 1 -->
    <div class="col-sm-6">
        <div class="row">
            <div class="col-md-12 div-pic-1"
                [ngStyle]="{'background-image': 'url('+(cartelera[0]|movieImage)+')'}">
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 div-pic-2"
                [ngStyle]="{'background-image': 'url('+(cartelera[1]|movieImage)+')'}">
            </div>
            <div class="col-md-6 div-pic-2"
                [ngStyle]="{'background-image': 'url('+(cartelera[2]|movieImage)+')'}">
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="row">
            <div class="col-md-6 div-pic-2"
                [ngStyle]="{'background-image': 'url('+(cartelera[3]|movieImage)+')'}">
        </div>
            <div class="col-md-6 div-pic-2"
                [ngStyle]="{'background-image': 'url('+(cartelera[4]|movieImage)+')'}">
            </div>
        </div>        
        <div class="row">
            <div class="col-md-12 div-pic-1"
                [ngStyle]="{'background-image': 'url('+(cartelera[5]|movieImage)+')'}">
            </div>
        </div>
    </div>
</div>
