<h1 class="h4">Cartelera</h1>
<hr />

<div class="row">
    <!-- COLUMNA 1 -->
    <div class="col-sm-6">
        <div class="row">
            <div class="col-md-12 div-pic-1"
                [ngStyle]="{'background-image':'url(https://image.tmdb.org/t/p/w300/yIzHw6az7SHEjxaVYy3hMd1Vyc.jpg)'}">
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 div-pic-2"
                [ngStyle]="{'background-image': 'url(https://image.tmdb.org/t/p/w300/plaMZ1r11u7D9JTd4vkmhQJlYfa.jpg)'}">
            </div>
            <div class="col-md-6 div-pic-2"
                [ngStyle]="{'background-image': 'url(https://image.tmdb.org/t/p/w300/plaMZ1r11u7D9JTd4vkmhQJlYfa.jpg)'}">
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="row">
            <div class="col-md-6 div-pic-2"
                [ngStyle]="{'background-image': 'url(https://image.tmdb.org/t/p/w300/plaMZ1r11u7D9JTd4vkmhQJlYfa.jpg)'}">
            </div>
            <div class="col-md-6 div-pic-2"
                [ngStyle]="{'background-image': 'url(https://image.tmdb.org/t/p/w300/plaMZ1r11u7D9JTd4vkmhQJlYfa.jpg)'}">
            </div>
        </div>        
        <div class="row">
            <div class="col-md-12 div-pic-1"
                [ngStyle]="{'background-image':'url(https://image.tmdb.org/t/p/w300/yIzHw6az7SHEjxaVYy3hMd1Vyc.jpg)'}">
            </div>
        </div>
    </div>
</div>
